

<div class="row">
    <div class="col">
        <h6 id="menu1">Contact</h6>
        <ul id="menu1">
            <li><img class="phone_logo img-fluid rounded"><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" > 0487/ 09 45 88</a></li>
            <li><img class="mail_logo img-fluid rounded"><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" >  XaimeL@gmail.com</a></li>
            <li><img class="facebook_logo img-fluid rounded"><a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" >  facebook</a></li>
            <li><img class="twitter_logo img-fluid rounded"><a href="https://twitter.com/?lang=fr" target="_blank" rel="noopener noreferrer" >   Twitter</a></li>
        </ul>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
        <h6 id="menu1">Navigation</h6>
        <ul id="menu1">
            <li>
                <a class="foot-link" routerLink="/" >
                <span>
                    <span>Acceuil</span>
                </span>
                </a>
            </li>
            <li>
                <a class="foot-link" routerLink="conquete" >
                <span>
                    <span>Mes conquêtes</span>
                </span>
                </a>
            </li>
            <li>
                <a class="foot-link" routerLink="messages" >
                <span>
                    <span>Messages</span>
                </span>
                </a>
            </li>
            <li>
                <a class="foot-link" routerLink="presentation" >
                <span>
                    <span>Le projet</span>
                </span>
                </a>
            </li>
            <li>
                <a class="foot-link" routerLink="equipe" >
                <span>
                    <span>Notre équipe</span>
                </span>
                </a>
            </li>
        </ul>
    </div>
</div>


