<div class="pres">
<h2>La Révolution Numérique en marche </h2>
<br>
<div class="ParagraphePres">
    Geek : les femmes les désirent, les hommes les jalousent.
    <br>
    Geekette : Idéal féminin pour les hommes, sources de conflits pour les femmes
    <br>
    <br>
     -- Code rouge ! Code rouge ! -- GEEK c'est le nouveau chic. Fini les clichés des années 90' ! A l'aube d'une nouvelle décennie, "le boutonneux caché dans sa chambre" est sorti (bruit d'orage) !
    <br>
    Dans les soirées, ils rayonnent : jeux de société, références pop culture, karaoké Disney,  rien ne leur résiste !
    La révolution Numérique est en marche ! Partout ! Au travail, à la maison, chez mémé,  le digital s'invite dans nos usages, nos habitudes, notre vie.
    Construire une histoire avec sa moitié, ou vivre une idylle d'une nuit n'y échappe pas...
    <br>
    <br>
    Qui pour accompagner cette communauté dans sa recherche d'amour ? Qui pour aider ces hommes et ces femmes à s'émanciper de ces stéréotypes trop souvent admis ?
    Une jeune équipe de sept individus a décidé de relever le défi : X aime L !


</div>
<br>
<br><br>
<img class="ImgPres" src="../../content/images/coeursZelda.png"/>
<br>
<br>
<br>
    <h2>X aime L, c'est quoi ?</h2>
<br>
<div class="ParagraphePres">
    XaimeL est une toute nouvelle application qui permet de connecter les gens entre eux,
    non seulement les férus d'informatiques  mais il est question également d'ouvrir ce monde à tous. <br>Notre
    tout nouvel algorithme d'appariage permet à deux personnes partageant les mêmes intêrets, ou non de se trouver.
    C'est le coeur de notre application. Notre équipe s'acharne avec passion pour offrir la meilleure application possible à ses utilisateurs<br>
    Pour mieux la prendre en main, nous la proposons sous la forme d'un site internet
    aussi ergonomique qu'efficace.
    Différents onglets permettent de gérer au mieux ses recherches, ses conquetes, son profil.
    <br>
    <br>
    N'hésite plus toi, oui toi derrière ton écran ! Et rejoins nous, on a du gros débit !
    <br>
    <br> X aime L, une appli pour numerniker à coder de chez vous ;) ;) ;)
</div>
</div>
