<div class="pres">
<h2>Le monde de l'informatique</h2>
<br>
<div class="ParagraphePres">
    Depuis sa création au milieu du XXesiècle, l'informatique a  toujours été un milieu principalement masculin.
    Il y était difficile de rencontrer l'amour de sa vie mais les pratiques ont changé.
    La proportion de femmes a augmenté mais il reste difficile pour les informaticiens de rencontrer ces informaticiennes
    et inversement. De plus, les gens extérieurs ont tendance à vouloir également les rencontrer.
</div>
<br>
<br><br>
<img class="ImgPres" src="../../content/images/coeursZelda.png"/>
<br>
<br>
<br>
    <h2>Notre idée: XaimeL</h2>
<br>
<div class="ParagraphePres">
    XaimeL est une toute nouvelle application qui permet aux gens de l'informatique de se rencontrer.
    Non seulement entre eux mais il est question également d'ouvrir ce monde aux autres. <br>Notre
    tout nouvel algorithme d'appariage permet à deux personnes partageant les mêmes *valeurs de se trouver.
    C'est le coeur de notre application.<br> Pour mieux la prendre en main, nous la proposons sous la forme d'un site internet
    aussi ergonomique qu'efficace.
    Différents onglets permettent de gérer au mieux ses recherches, ses conquetes, son profil.
    Nous vous y attendons nombreux
    <br>
    <br>
    <br> *par valeurs, nous évaluons différents critères pour vous connecter à la personne la plus proche
</div>
</div>
