<h1 id="formulaire inscription">Formulaire d'inscription</h1>

<p>Veuillez remplir tous les champs s'il vous plait<br/>L'inscription est gratuite
</p>

<form>

    <label id="nom">Nom:</label>
    <input type="text" name="nom"><br/><br/>

    <label id="prenom">Prenom:</label>
    <input type="text" name="prenom"><br/><br/>

    <label id="email">Email:</label>
    <input type="email" name="email"><br/><br/>


    <label id="nom utilisateur">Nom Utilisateur:</label>
    <input type="text" name="nomUtilisateur"><br/><br/>

    <label id="mot de Passe">Mot de Passe:</label>
    <input type="password" name="mdp"><br/><br/>

    <label>Genre:</label>
    <input type="radio" name="genre">homme
    <input type="radio" name="genre">femme<br/><br/>

    <label id="nom utilisateur">Zone Geo</label>
    <input type="text" name="location"><br/><br/>

    <a href = "reglement">reglement</a><br/>
    <input type="checkbox">
    <label>j'ai accepte le reglement</label><br/><br/>


    <input type="submit" value="S'inscrire">
    <input type="reset" value="Reset">

    <label>Vous avez deja un compte ?</label>
    <a routerLink ="pageConnexion"><input type="button" value="se connecter"><br/><br/></a>

</form>
