<div class="presequipe">
<section class="bg-light page-section" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <br>
                <h2>Team Zero Rigolade</h2>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
                <div class="teamLeader" >
                    <div class="imagezoom">
                    <img class="mx-auto rounded-circle" src="../../content/images/Mathieur.png" alt="">
                </div>
                    <h4>Mathieu</h4>
                    <div class="descriptionprofil">
                    <p>CEO en détresse</p></div>
                </div>
        <br>
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="team-member">
                <div class="imagezoom">
                    <img class="mx-auto rounded-circle" src="../../content/images/Cindyr.png" alt="">
                    <h4>Cindy</h4>
                    <div class="descriptionprofil">
                        <p>Déesse du WebDesign</p></div>
                </div>
                </div>
            </div>
            <br>
            <div class="col-6 col-md-4">
                <div class="team-member">
                    <div class="imagezoom">
                    <img class="mx-auto rounded-circle" src="../../content/images/Mareenr.png" alt="">

                    <h4>Mareen</h4>
                    <div class="descriptionprofil">
                        <p>La Stagiaire </p></div>
                </div>
                </div>
            </div>
            <br>
            <div class="col-6 col-md-4">
                <div class="team-member">
                    <div class="imagezoom">
                    <img class="mx-auto rounded-circle" src="../../content/images/Adrienr.png" alt="">

                    <h4>Adrien</h4>
                    <div class="descriptionprofil">
                        <p>Le Prof de back (et de tout en vrai)</p></div>
                </div>
                </div>
            </div>
            <br>
            <div class="col-6 col-md-4">
                <div class="team-member">
                    <div class="imagezoom">
                    <img class="mx-auto rounded-circle" src="../../content/images/Remyr.png" alt="">
                    <h4>Rémy</h4>
                    <div class="descriptionprofil">
                        <p>Maître des Données</p></div>
                </div>
                </div>
            </div>
            <br>
            <div class="col-6 col-md-4">
                <div class="team-member">
                    <div class="imagezoom">
                    <img class="mx-auto rounded-circle" src="../../content/images/Samirr.png" alt="">

                    <h4>Samir</h4>
                    <div class="descriptionprofil">
                        <p>Docteur DP</p></div>
                </div>
                </div>
            </div>
            <br>
            <div class="col-6 col-md-4">
                <div class="team-member">
                    <div class="imagezoom">
                    <img class="mx-auto rounded-circle" src="../../content/images/Xavierr.png" alt="">
                    <h4>Xavier</h4>
                    <div class="descriptionprofil">
                        <p>Le développeur préféré de ton développeur préféré </p></div>
                </div>
                </div>
            </div>
        </div>
    </div>
<br>
    <br>
    <br>
    <br>
</section>
</div>
        <div class="pres">
            <p>  Dans les coulisses d'X Aime L se trouve une équipe de véritable pionners, créatifs et ambitieux, réunis derrière un objectif commun, celui de connecter les gens sous le prisme de la rencontre et de l'amour... </p>
        </div>

