    <ul>
        <li *ngFor="let profil of tab;let i = index">

            <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{i}}" role="button" aria-expanded="false" aria-controls="collapseExample">
              {{profil.nom}}
            </a>
          </p>

          <div class="collapse" id="collapseExample{{i}}">
            <div class="card card-body">
              {{profil.messages}}
            </div>
          </div>

        </li>
    </ul>

<p>messagerie</p>
