<canvas id="myChart" style="max-width: 500px;"></canvas>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            
            <div> 
                <p>nombre de conquêtes: {{tab[0].nombreConquetes}} <br> nombre d'invitations envoyées:{{tab[0].nombreInvitationsE}} 
                    <br>nombre d'invitations reçues: {{tab[0].nombreInvitationsR}}
                </p>
                </div>

            
        </div>
        <div class="col-lg-3">
            <div id="cambembert">
                <div id="cambembertVert"></div>
                <div id="cambembertRouge1"></div>
                <div id="cambembertRouge2"></div>
                
              </div>
              
            <p>en resume vous etes un: </p>


        </div>
        <div class="col-lg-3">
            <p>nombre de conquêtes: {{tab[0].nombreConquetes}} <br> nombre de messages envoyes: {{tab[0].nombreMessagesE}}
                 <br>nombre discussions entammées: {{tab[0].nombreDiscussionsE}} <br>nombre de discussions abouties:{{tab[0].nombreDiscussionsA}}
                <br>

            </p>
        </div>

  
        <div class="col-lg-3">

            
              <script src = "stats.component.js"></script>
            <p>en resume vous etes un:</p>

        </div>
    </div>
</div>


