<div class="container">
    <div class="row">
        <div class="col-lg-3">
            
            <div> 
                <p>nombre de conquêtes: {{tab[0].nombreConquetes}} <br> nombre d'invitations envoyées:{{tab[0].nombreInvitationsE}} 
                    <br>nombre d'invitations reçues: {{tab[0].nombreInvitationsR}}
                </p>
                </div>

            
        </div>
        <div class="col-lg-3">
            <div id="cambembert">
                <div id="cambembertVert"></div>
                <div id="cambembertRouge1"></div>
                <div id="cambembertRouge2"></div>
                
              </div>
              
            <p>en resume vous etes un: </p>


        </div>
        <div class="col-lg-3">
            <p>nombre de conquêtes: {{tab[0].nombreConquetes}} <br> nombre de messages envoyes: {{tab[0].nombreMessagesE}}
                 <br>nombre discussions entammées: {{tab[0].nombreDiscussionsE}} <br>nombre de discussions abouties:{{tab[0].nombreDiscussionsA}}
                <br>

            </p>
        </div>

        <script type="text/javascript">
let cam = document.createElement("DIV");
cam = 120;
cam.id="cam";

            let nombreTotalMessages = tab[0].nombreMessagesE + tab[0].nombreMessagesR;
            let rouge = (tab[0].nombreMessagesE/nombreTotalMessages)*100;
            let vert = (tab[0].nombreMessagesR/nombreTotalMessages)*100;
            let bleu = 120;
        </script>

        
        


        <div class="col-lg-3">
            <div id="cambembert">
                <div id="cambembertVert"></div>
                <div id="cambembertRouge1"></div>
                <div id="cambembertRouge2"></div>
              </div>
              
              
              
            <p>en resume vous etes un:</p>

        </div>
    </div>
</div>
