<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Creation d'un compte sur XaimeL</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Inscription enregistrée</strong> La confirmation vous a été envoyé par mail.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Echec de l'inscription</strong> Merci de réessayer plus tard
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Le nom d'utilisateur existe déjà</strong> Merci d'en choisir une autre
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>L'adresse mail est dèjà utilisée</strong> Merci d'en choisir une autre
        </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Le mot de passe et sa confirmation ne correspondent pas
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                <div class="form-group">

                    <label class="form-control-label" for="login">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Your username"
                           formControlName="login">
                    <div *ngIf="registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.required">
                            Votre nom d'utilisateur est requis
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.minlength"
                        >
                            Votre nom d'utilisateur doit contenir au moins 1 caractère.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.maxlength"
                        >
                            Votre nom d'utilisateur doit ne doit pas dépasser 50 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.pattern"
                        >
                            Votre nom d'utilisateur doit contenir seulement des lettres et chiffres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           formControlName="email">
                    <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.required"
                        >
                            Votre email est requis.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.invalid"
                        >
                            Votre email est valide
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.minlength"
                        >
                            Votre eamil doit contenir au moins 5 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.maxlength"
                        >
                            Votre email ne peut contenir plus de 100 caractères.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           formControlName="password">
                    <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.required"
                        >
                            Mot de passe requis.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.minlength"
                        >
                            Le mot de passe doit contenir au moins 4 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.maxlength"
                        >
                            Le mot de passe ne doit pas dépasser 50 caractères.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password').value"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmation de mot de passe</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                           formControlName="confirmPassword">
                    <div *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.required"
                        >
                            La confiramtion de mot de passe est requise.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.minlength"
                        >
                            La confirmation de mot de passe doit contenir au moins 4 caractères.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.maxlength"
                        >
                            La confirmation de mot de passe doit contenir au moins 4 caractères.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">S'inscrire</button>
            </form>
            <p></p>
        </div>
    </div>
</div>
