<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script>
$(function () {
    $('[data-toggle="popover"]').popover()

  })
</script>

<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span class="navbar-title"></span> <span class="navbar-version">{{version}}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
    </a>
        <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="profil-menu">
                    <span>
                      A propos
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="profil-menu">
                    <li>
                        <a class="dropdown-item" routerLink="presentation" routerLinkActive="active" (click)="collapseNavbar()">
                            <span>Le projet</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="equipe" routerLinkActive="active" (click)="collapseNavbar()">
                            <span>Notre équipe</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link"  (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon=""></fa-icon>

                        <button type="button" class="btn btn-link mr-2" placement="bottom"
                            ngbPopover="{{tab[4].match[0]}}" id ="bout">
                            Notifications
                        </button>

                </a>
            </li>
            <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="conquete" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon=""></fa-icon>
                        <span>Mes conquetes</span>
                    </span>
            </a>
             </li>
            <li *ngSwitchCase="true" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="messages" (click)="collapseNavbar()">
                    <span>
                        <fa-icon icon=""></fa-icon>

                        <span>Messages</span>
                    </span>
                </a>
            </li>

            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a *ngSwitchCase="true" class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="profil-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span>
                      Profil
                    </span>
                  </span>
                <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                  </span>
            </a>


            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="profil-menu">
                <li *ngSwitchCase="true">
                    <a class="dropdown-item" routerLink="profil" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="user"></fa-icon>
                        <span>Mon profil</span>
                    </a>
                </li>
                <li *ngSwitchCase="true">
                    <a class="dropdown-item" routerLink="stats" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="lock" fixedWidth="true"></fa-icon>
                        <span>Statistiques</span>
                    </a>
                </li>
                <li *ngSwitchCase="true">
                    <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                        <span>Settings</span>
                    </a>
                </li>
                <li *ngSwitchCase="true">
                    <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="lock" fixedWidth="true"></fa-icon>
                        <span>Password</span>
                    </a>
                </li>
                <li *ngSwitchCase="true">
                    <a class="dropdown-item" (click)="logout()" id="logout">
                        <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                        <span>Sign out</span>
                    </a>
                </li>

            </ul>
        </li>
            <li *ngSwitchCase="false" (click)="login()" id="login">
            <button class="btn btn-success">Connexion</button>
            </li>
        </ul>
        </div>

        <form class="form-inline">


