<div class = "titreProfil"><p>Mon profil</p></div>
<div class = "row">
    <div class = "col-md-2">
            <img src={{tab[4].photo}} id="photo">
    </div>

    <div class = "col-md-6">
        <div class="descriptif-profil">
        <label>Pseudo: {{tab[4].pseudo}}</label>
            <br>
        <label>Nom: {{tab[4].nom}}</label>   <span class="prenom"><label>Prenom: {{tab[4].prenom}}</label></span>
            <br>
        <label>Age: {{tab[4].age}}</label>
            <br>
            <label>Sexe: {{tab[4].sexe}}</label>
            <br>
        <label>Mail: {{tab[4].mail}}</label>
            <br>
        <label>Date d'inscription: Date</label>
            <br>
        <label>Note : {{tab[4].note}}/5</label></div>
    </div>
</div>
<div class="ensemble-preferences">
    <div class="preferences">

        <div class="titrepref"> <img src="../../content/images/logo-souris.png" id="logosouris"> <label>Mes preferences:</label></div>
<label>Gouts:</label>
<ul id="hobbies">
<li *ngFor= "let item of tab[4].preference" >
<a>{{item}}</a>
</li>
</ul>
        <label> Intéressé par :</label>
        <img src="../../content/images/logo-sexe.png" id="logosexe">
        <label>{{tab[4].interest}}</label>
    </div>
    </div>







<!--

<div class = "row">
    <div class = "col-lg-4">

        <br/>
        <br/>
        <p>Modifier</p>
        <form>

            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              <button type="submit" class="btn btn-primary">envoyer</button>
            </div>


          </form>

          <form>

            <div class="form-group">
              <label for="exampleInputPassword1">Mail</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
              <button type="submit" class="btn btn-primary">envoyer</button>
            </div>


          </form>

          <label>preferences</label>
          <ul id="menu2">
            <li *ngFor= "let item of tab[4].preference" >
            <label for= "modif" >{{item}}</label>
            <input type="text" [disabled]="!isActivated()" id = "modif">
            <button  (click)="change()">modifier</button>
            <button type="submit" class="btn btn-primary">Confirmer</button>





            </li>
            </ul>

-->

     </div>
</div>



