body {
  width: 100%;
}

.titreProfil {
  text-align: center;
  font-size: 400%;
  color: snow;
  font-family: pixeled-webfont;
  text-transform: lowercase;
  text-transform: capitalize;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 2px #141414, 1px 1px 3px #141414,
    1px 1px 5px #141414, 1px 1px 7px #141414, 1px 1px 10px #141414, 1px 1px 12px #141414, 1px 1px 18px #141414;
  margin-bottom: 150px;
}

#photo {
  height: 350px;
  width: 350px;
  float: left;
  margin-left: 70%;
  border: 5px outset white;
}

.descriptif-profil {
  float: right;
  font-size: 210%;
  color: snow;
  margin-top: 4px;
  line-height: 140%;
  line-margin: 100%;
  width: 50%;
}

.ensemble-preferences {
  margin: 10%;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 100px;
  color: black;
  font-size: 150%;
  padding: 3%;
}

ul#cemenu li {
  display: inline;
}

/*
.prenom {
  margin-left: 5em;
}
*/

.preferences {
  margin-left: 2%;
  font-size: 150%;
  line-height: 200%;
}

.titrepref {
  font-size: 160%;
  font-style: bold;
  text-decoration: underline black;
  margin-bottom: 2%;
}

#logosouris {
  width: 4%;
  height: 4%;
}

#logosexe {
  width: 4%;
  height: 4%;
}
