/* ==========================================================================
Main page styles
========================================================================== */

.Titre {
  font-family: 'Brush Script MT';
  color: #bd87b1;
  font-size: 120px;
  text-align: center;
}

.pres {
  font-family: 'vladimir';
  color: black;
  font-size: 30px;
  text-align: center;
  font-style: italic;
}

.hipsterg {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/mrs-geek-render.png') no-repeat center top;
  float: right;
}

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/mr-geek-render.png') no-repeat center top;
  background-size: contain;
}

.row {
  background-color: rgba(255, 255, 255, 0.24);
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
