/*@keyframes lds-pacman-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes lds-pacman-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes lds-pacman-2 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@-webkit-keyframes lds-pacman-2 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes lds-pacman-3 {
  0% {
    -webkit-transform: translate(190px, 0);
    transform: translate(190px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(70px, 0);
    transform: translate(70px, 0);
    opacity: 1;
  }
}
@-webkit-keyframes lds-pacman-3 {
  0% {
    -webkit-transform: translate(190px, 0);
    transform: translate(190px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(70px, 0);
    transform: translate(70px, 0);
    opacity: 1;
  }
}
*/

body {
  margin: 0;
  padding: 0;
  background: url('../../content/images/backgroundd.jpg') no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.la-ball-8bits {
  margin-top: 400px;
}

.app-loading {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 10em;
  margin-top: auto;
}
.app-loading p {
  display: block;
  font-size: 1.17em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
}

.

/*
.app-loading .la-ball-8bits {
  position: relative;
  margin: auto;
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}


.app-loading .la-ball-8bits > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #bbcedd;
  -webkit-animation: la-ball-8bits-1 1s linear infinite;
  animation: la-ball-8bits-1 1s linear infinite;
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}


.app-loading .la-ball-8bits > div:nth-child(2) div:nth-child(2) {
  -webkit-animation: la-ball-8bits-2 1s linear infinite;
  animation: la-ball-8bits-2 1s linear infinite;
}

*/


.app-loading .la-ball-8bits > div:nth-child(1) div {
  position: absolute;
  top: 97px;
  left: -8px;
  width: 24px;
  height: 10px;
  background-image: url('../../content/images/backgroundd.jpg');
  background-size: contain;
  -webkit-animation: la-ball-8bits-3 1s linear infinite;
  animation: la-ball-8bits-3 1.5s linear infinite;
}

.app-loading .la-ball-8bits > div:nth-child(1) div:nth-child(1) {
  -webkit-animation-delay: -0.67s;
  animation-delay: -1s;
}
.app-loading .la-ball-8bits > div:nth-child(1) div:nth-child(2) {
  -webkit-animation-delay: -0.33s;
  animation-delay: -0.5s;
}
.app-loading .la-ball-8bits > div:nth-child(1) div:nth-child(3) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.la-ball-8bits,
.la-ball-8bits > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.la-ball-8bits {
  display: block;
  font-size: 0;
  color: #00fffc;
}
.la-ball-8bits.la-dark {
  color: #333;
}
.la-ball-8bits > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-ball-8bits {
  width: 12px;
  height: 12px;
}
.la-ball-8bits > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 0;
  opacity: 0;
  -webkit-transform: translate(100%, 100%);
  -moz-transform: translate(100%, 100%);
  -ms-transform: translate(100%, 100%);
  -o-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
  -webkit-animation: ball-8bits 1s 0s ease infinite;
  -moz-animation: ball-8bits 1s 0s ease infinite;
  -o-animation: ball-8bits 1s 0s ease infinite;
  animation: ball-8bits 1s 0s ease infinite;
}
.la-ball-8bits > div:nth-child(1) {
  -webkit-animation-delay: -0.9375s;
  -moz-animation-delay: -0.9375s;
  -o-animation-delay: -0.9375s;
  animation-delay: -0.9375s;
}
.la-ball-8bits > div:nth-child(2) {
  -webkit-animation-delay: -0.875s;
  -moz-animation-delay: -0.875s;
  -o-animation-delay: -0.875s;
  animation-delay: -0.875s;
}
.la-ball-8bits > div:nth-child(3) {
  -webkit-animation-delay: -0.8125s;
  -moz-animation-delay: -0.8125s;
  -o-animation-delay: -0.8125s;
  animation-delay: -0.8125s;
}
.la-ball-8bits > div:nth-child(4) {
  -webkit-animation-delay: -0.75s;
  -moz-animation-delay: -0.75s;
  -o-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.la-ball-8bits > div:nth-child(5) {
  -webkit-animation-delay: -0.6875s;
  -moz-animation-delay: -0.6875s;
  -o-animation-delay: -0.6875s;
  animation-delay: -0.6875s;
}
.la-ball-8bits > div:nth-child(6) {
  -webkit-animation-delay: -0.625s;
  -moz-animation-delay: -0.625s;
  -o-animation-delay: -0.625s;
  animation-delay: -0.625s;
}
.la-ball-8bits > div:nth-child(7) {
  -webkit-animation-delay: -0.5625s;
  -moz-animation-delay: -0.5625s;
  -o-animation-delay: -0.5625s;
  animation-delay: -0.5625s;
}
.la-ball-8bits > div:nth-child(8) {
  -webkit-animation-delay: -0.5s;
  -moz-animation-delay: -0.5s;
  -o-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.la-ball-8bits > div:nth-child(9) {
  -webkit-animation-delay: -0.4375s;
  -moz-animation-delay: -0.4375s;
  -o-animation-delay: -0.4375s;
  animation-delay: -0.4375s;
}
.la-ball-8bits > div:nth-child(10) {
  -webkit-animation-delay: -0.375s;
  -moz-animation-delay: -0.375s;
  -o-animation-delay: -0.375s;
  animation-delay: -0.375s;
}
.la-ball-8bits > div:nth-child(11) {
  -webkit-animation-delay: -0.3125s;
  -moz-animation-delay: -0.3125s;
  -o-animation-delay: -0.3125s;
  animation-delay: -0.3125s;
}
.la-ball-8bits > div:nth-child(12) {
  -webkit-animation-delay: -0.25s;
  -moz-animation-delay: -0.25s;
  -o-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.la-ball-8bits > div:nth-child(13) {
  -webkit-animation-delay: -0.1875s;
  -moz-animation-delay: -0.1875s;
  -o-animation-delay: -0.1875s;
  animation-delay: -0.1875s;
}
.la-ball-8bits > div:nth-child(14) {
  -webkit-animation-delay: -0.125s;
  -moz-animation-delay: -0.125s;
  -o-animation-delay: -0.125s;
  animation-delay: -0.125s;
}
.la-ball-8bits > div:nth-child(15) {
  -webkit-animation-delay: -0.0625s;
  -moz-animation-delay: -0.0625s;
  -o-animation-delay: -0.0625s;
  animation-delay: -0.0625s;
}
.la-ball-8bits > div:nth-child(16) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.la-ball-8bits > div:nth-child(1) {
  top: -100%;
  left: 0;
}
.la-ball-8bits > div:nth-child(2) {
  top: -100%;
  left: 33.3333333333%;
}
.la-ball-8bits > div:nth-child(3) {
  top: -66.6666666667%;
  left: 66.6666666667%;
}
.la-ball-8bits > div:nth-child(4) {
  top: -33.3333333333%;
  left: 100%;
}
.la-ball-8bits > div:nth-child(5) {
  top: 0;
  left: 100%;
}
.la-ball-8bits > div:nth-child(6) {
  top: 33.3333333333%;
  left: 100%;
}
.la-ball-8bits > div:nth-child(7) {
  top: 66.6666666667%;
  left: 66.6666666667%;
}
.la-ball-8bits > div:nth-child(8) {
  top: 100%;
  left: 33.3333333333%;
}
.la-ball-8bits > div:nth-child(9) {
  top: 100%;
  left: 0;
}
.la-ball-8bits > div:nth-child(10) {
  top: 100%;
  left: -33.3333333333%;
}
.la-ball-8bits > div:nth-child(11) {
  top: 66.6666666667%;
  left: -66.6666666667%;
}
.la-ball-8bits > div:nth-child(12) {
  top: 33.3333333333%;
  left: -100%;
}
.la-ball-8bits > div:nth-child(13) {
  top: 0;
  left: -100%;
}
.la-ball-8bits > div:nth-child(14) {
  top: -33.3333333333%;
  left: -100%;
}
.la-ball-8bits > div:nth-child(15) {
  top: -66.6666666667%;
  left: -66.6666666667%;
}
.la-ball-8bits > div:nth-child(16) {
  top: -100%;
  left: -33.3333333333%;
}
.la-ball-8bits.la-sm {
  width: 6px;
  height: 6px;
}
.la-ball-8bits.la-sm > div {
  width: 2px;
  height: 2px;
}
.la-ball-8bits.la-2x {
  width: 24px;
  height: 24px;
}
.la-ball-8bits.la-2x > div {
  width: 8px;
  height: 8px;
}
.la-ball-8bits.la-3x {
  width: 36px;
  height: 36px;
}
.la-ball-8bits.la-3x > div {
  width: 12px;
  height: 12px;
}

/*
 * Animation
 */
@-webkit-keyframes ball-8bits {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
}
@-moz-keyframes ball-8bits {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
}
@-o-keyframes ball-8bits {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
}
@keyframes ball-8bits {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
}
