#photo {
}

.Carousel1 {
  margin-top: 5%;
  margin-bottom: 10%;
}

h2 {
  font-family: pixeled-webfont;
  color: snow;
  text-transform: lowercase;
  text-transform: capitalize;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 1px 1px 2px #141414, 1px 1px 3px #141414,
    1px 1px 5px #141414, 1px 1px 7px #141414, 1px 1px 10px #141414, 1px 1px 12px #141414, 1px 1px 18px #141414;
  margin-bottom: 150px;
}
