<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="psychoProfile">
            <h2><span>Psycho Profile</span> {{psychoProfile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Summary Profile</span></dt>
                <dd>
                    <span>{{psychoProfile.summaryProfile}}</span>
                </dd>
                <dt><span>Jung Value 1</span></dt>
                <dd>
                    <span>{{psychoProfile.jungValue1}}</span>
                </dd>
                <dt><span>Jung Value 2</span></dt>
                <dd>
                    <span>{{psychoProfile.jungValue2}}</span>
                </dd>
                <dt><span>Jung Value 3</span></dt>
                <dd>
                    <span>{{psychoProfile.jungValue3}}</span>
                </dd>
                <dt><span>Jung Value 4</span></dt>
                <dd>
                    <span>{{psychoProfile.jungValue4}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/psycho-profile', psychoProfile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
