<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-psycho-profile-heading">Create or edit a Psycho Profile</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_summaryProfile">Summary Profile</label>
                    <input type="text" class="form-control" name="summaryProfile" id="field_summaryProfile"
                           formControlName="summaryProfile"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_jungValue1">Jung Value 1</label>
                    <input type="number" class="form-control" name="jungValue1" id="field_jungValue1"
                           formControlName="jungValue1"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_jungValue2">Jung Value 2</label>
                    <input type="number" class="form-control" name="jungValue2" id="field_jungValue2"
                           formControlName="jungValue2"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_jungValue3">Jung Value 3</label>
                    <input type="number" class="form-control" name="jungValue3" id="field_jungValue3"
                           formControlName="jungValue3"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_jungValue4">Jung Value 4</label>
                    <input type="number" class="form-control" name="jungValue4" id="field_jungValue4"
                           formControlName="jungValue4"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
