


    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <div class = "row">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
                </button>
            </div>
            </div>
            <div class="card-body">
                <div class="alert alert-danger" *ngIf="authenticationError">
                <strong>Mauvaise identification</strong> Veuillez réessayer.
                 </div>
                <form  (ngSubmit)="login()" [formGroup]="loginForm">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Pseudo" formControlName="username">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password">
                    </div>
                    <div class=" align-items-center remember">
                        <input type="checkbox" formControlName="rememberMe">Se souvenir de moi
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Connexion" routerLink ="connexion" class="btn btn-light">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
            <a class="alert-link" (click)="register()">Pas encore parmi nous ? inscris toi !</a>
                </div>
                <br>
                <div class="d-flex justify-content-center links">
                    <a class="alert-link" (click)="requestResetPassword()">J'ai perdu mon mot de passe</a>
                </div>
            </div>
        </div>
    </div>
